@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
    --primary: #0850eab7;
    --secondary: #13d2b8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
.sa-button-container {
    margin-top: 20px;
}
/* img[alt*="000webhost"],
img[alt*="000webhost"][style],
img[src*="000webhost"],
img[src*="000webhost"][style] {
    opacity: 0 !important;
    pointer-events: none !important;
    width: 0px !important;
    height: 0px !important;
    visibility: hidden !important;
    display: none !important;
} */

.btn-signin-hide {
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
}

.avatar-login {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #eee;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.text-login-form {
    font-family: var(--font);
    margin: 15px 0;
}

input.custom-in,
button.btn-custom {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

button.btn-custom {
    cursor: pointer;
}

.login-form {
    display: block;
    position: relative;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #eee;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.login-form input {
    padding: 12px;
    border: 1px solid #eee;
    color: #333;
    border-radius: 4px;
    display: block;
    width: 100%;
    transition: border 0.25s linear;
    font-weight: normal;
}
.login-form input:focus {
    border-color: var(--primary);
}
.login-form .forgot {
    font-family: var(--font);
    margin-right: 5px;
    float: right;
    display: block;
    color: #333;
    font-size: 14px;
    margin-bottom: 14px;
}
.login-form button {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background-color: var(--primary);
    text-transform: uppercase;
}
.login-form .input-icon {
    position: relative;
}
.login-form .input-icon input {
    padding-right: 4rem;
}
.login-form .input-icon i {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    color: #ccc;
    cursor: pointer;
}

.hide-cart-info {
    display: none !important;
}

.show-cart-info {
    display: block !important;
}

.info-avatar {
    margin-left: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.avatar-user {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 1);
    object-fit: cover;
}

.fullname-user {
    margin-left: 5px;
    font-weight: 600;
    font-family: var(--font);
}

i.lnr.lnr-arrow-right,
i.lnr.lnr-arrow-left {
    line-height: 2;
}

.logout-user {
    cursor: pointer;
    position: relative;
}

.logout-user:hover .logout-user-hover {
    display: block;
}

.logout-user-hover {
    position: absolute;
    display: none;
    top: 40px;
    left: 50px;
    width: 150px;
    background-color: #eee;
}

.box-both {
    width: 100%;
    /* border: 1px solid #666; */
    background-color: #f8f8f8;
    padding: 4px;
    border-radius: 10px;
    box-sizing: border-box;
}

.list-star {
    height: 20px;
    font-size: 11px;
    color: #f39c11;
}

.time-comment {
    color: rgb(44, 43, 43);
    height: 20px;
    font-size: 11px;
}

.comment-box {
    padding: 5px 0;
    background: #f7f7f7;
    width: 40%;
    margin: 0 10px;
    border-radius: 0.25rem;
}

.single-product {
    background-color: #f8f8f8;
    border-radius: 4px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
        rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.single-product:hover .pro-img {
    transform: rotateY(180deg) !important;
    padding: 10px 10px !important;
}
.pro-img {
    transition: transform 0.6s ease 0s !important;
}
.primary-img {
    border-radius: 10px;
}

.comment-box-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.avatar-comment {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.break-word {
    word-break: break-word !important;
}

.tab-pane.fade > .row.d-flex:not(:last-child) {
    margin-bottom: 3rem !important;
}

.feature-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.feature-review i,
.feature-review > a {
    color: rgba(102, 102, 102, 0.589);
    font-size: 20px;
    cursor: pointer;
}

.feature-review > i:hover {
    color: red;
}

.box-edit {
    width: 60%;
    margin: 0 auto;
    display: none;
}

#popup-chat {
    position: fixed;
    display: none;
    width: 280px;
    height: 390px;
    bottom: 0px;
    right: 150px;
    z-index: 99999999;
}

.box-chat {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header-chat {
    display: flex;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset,
        0 2px 1px -1px rgba(255, 255, 255, 0.5) inset;
}

.header-chat-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 100%;
}

.header-chat-avatar > img {
    border-radius: 50%;
    border: 1px solid wheat;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header-chat-avatar::before {
    content: "";
    position: absolute;
    bottom: 7px;
    right: 9px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #31a24c;
}

.header-chat-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-chat-info .name {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.header-chat-info .status {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    color: #65676b;
}

.header-chat-feature {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    width: 100px;
    height: 100%;
}

.header-chat-feature > svg {
    cursor: pointer;
    width: 26px !important;
    height: 26px !important;
    fill: rgb(0, 132, 255) !important;
}

.body-chat {
    flex-grow: 1;
    padding: 0 5px;
    overflow-y: scroll;
}

.body-chat .box-mess {
    display: flex;
    padding-top: 12px;
    padding-right: 10px;
}

.to-right {
    justify-content: flex-end;
}

.to-right > .box-image {
    display: none;
}

.box-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    padding-right: 8px;
}

.box-image > img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.mess-content {
    max-width: 75%;
}

.mess-content > p {
    font-size: 14px;
    line-height: 22px;
    color: #090c13;
    width: 100%;
    height: 100%;
    padding: 6px 14px;
    border-radius: 18px;
    word-break: break-word !important;
    background-color: #f0f2f5;
}

.to-right .mess-content > p {
    color: #ffffff;
    background-color: rgba(0, 132, 255, 0.945);
}

.footer-chat {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.footer-chat-more {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-chat-more > svg {
    cursor: pointer;
    fill: rgb(0, 132, 255);
}

.footer-chat-message {
    overflow-x: hidden;
    flex-grow: 1;
    padding: 2px 0;
}

.footer-chat-message > input {
    color: #090c13;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    padding: 9px 14px;
    background-color: #f0f2f5;
    border-radius: 20px;
    word-break: break-word !important;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.footer-chat-send {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-chat-send > svg {
    cursor: pointer;
    fill: rgb(0, 132, 255);
}

#btn-chat {
    position: fixed;
    text-align: center;
    bottom: 114px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    background-image: linear-gradient(to right, #37ccff, #7b22ff);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    z-index: 1;
    cursor: pointer;
}

#btn-chat:hover {
    background-image: linear-gradient(to right, #ffcd2b, #fb07ee);
}

#btn-chat > i {
    font-size: 22px;
    line-height: 40px;
    color: white;
    text-align: center;
}

#btn-noti {
    position: fixed;
    text-align: center;
    bottom: 114px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    background-image: linear-gradient(to right, #37ccff, #7b22ff);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    z-index: 1;
    cursor: pointer;
}

#btn-noti:hover {
    background-image: linear-gradient(to right, #ffcd2b, #fb07ee);
}

#btn-noti > i {
    font-size: 22px;
    line-height: 40px;
    color: white;
    text-align: center;
}

.custom-btn-submit {
    color: #f0e7e7 !important;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px !important;
    background-image: linear-gradient(to right, #37ccff, #7b22ff);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border: none;
}

.custom-btn-submit:hover {
    background-image: linear-gradient(to right, #ffcd2b, #fb07ee);
}

.custom-box-quantity {
    border: none !important;
    border-radius: 30px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

#map {
    margin: 0 auto;
    width: 800px;
    height: 500px;
}

.info-contact {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.info-info {
    color: #4158d7;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.item-contact {
    color: #4158d7;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 0;
}

.thead-light > tr > th {
    text-align: center;
}

table .thead-light th {
    border: none !important;
    background-color: transparent !important;
}

.back-none {
    background-color: transparent;
}

.order-btn {
    border-radius: 30px;
    padding: 12px 70px;
}

.product-text-view {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    transform: rotateY(180deg);
    text-shadow: 1px 0px 2px #414dd1, 0px 1px 2px #414dd1, -1px 0px 2px #414dd1,
        0px -1px 2px #414dd1;
}

.visit {
    font-size: 12px;
    color: #f39c11;
    font-weight: bold;
    text-shadow: 0px 0px 1px #f39c11;
}

.title-name {
    color: #414dd1;
    font-family: "Baloo", sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase !important;
    margin-left: 60px;
}

.table-responsive-sm {
    background-color: #f8f8f8;
    border-radius: 10px;
}

.border-circle {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 3px solid #5defb793;
}

.work-list {
    display: flex;
    margin-left: -4px;
    flex-wrap: wrap;
}

.work-item {
    width: calc((100% / 5) - 4px);
    overflow: hidden;
    margin-left: 4px;
    padding: 4px;
}

.title-search {
    font-size: 30px;
    text-transform: none;
}

.sign-fail {
    display: none;
    color: red;
}

.input-fail {
    visibility: hidden;
    color: red;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

.footer {
    margin-top: 60px;
    background: #f8f8f8;
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}

.content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    flex-shrink: 1;
}
.content-right {
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
}

.content-center {
    display: flex;
    flex-grow: 4;
    justify-content: center;
    flex-shrink: 1;
}

.info-left {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-right {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info-item {
    text-align: left;
    margin: 4px;
    color: #454545cb;
}

.title-info {
    font-family: "Baloo", sans-serif;
    text-transform: uppercase;
    color: #454545;
    font-weight: 500;
    margin-bottom: 10px;
}

.price {
    font-family: Baloo, sans-serif !important;
    font-size: 16px;
}

.title-end {
    background-color: #f8f8f8;
    text-align: center;
    font-family: "Baloo", sans-serif;
    text-transform: uppercase;
    color: #007bff;
    font-weight: bold;
}

.weather {
    display: flex;
    flex-direction: column;
}

.weather-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-weather {
    font-family: "Baloo", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 40px;
    color: #007bff;
}

.box-temp {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-temp {
    width: 80px;
    height: 80px;
}

.text-temp {
    color: #007bff;
    font-weight: bold;
}

.box-weather-common {
    margin-top: 40px;
    background: #f8f8f8;
    width: 80%;
    border-radius: 10px;
}
.row-weather {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.col-weather {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.weather-info-text {
    text-align: center;
    color: #007bff;
    font-weight: bold;
}

.mal {
    margin-left: 100px;
}

.img-temp {
    display: block;
    margin: 0 auto;
}
.weather-city {
    text-align: center;
    color: #007bff;
    font-weight: bold;
}

.row-news {
    padding: 8px;
    width: 90%;
    margin: 0 auto;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: nowrap;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}

.row-news:not(:last-child) {
    margin-bottom: 20px;
}

.row-news > a {
    flex-shrink: 0;
    width: 150px;
    cursor: pointer;
}

.row-news > a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.box-post-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
}

.post-title {
    color: black;
    font-size: 18px;
    padding-bottom: 2px;
    font-weight: 500;
    flex-shrink: 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
}
.post-content {
    flex-grow: 1;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #8e9091;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info-item {
    color: #8e9091;
    font-weight: 500;
}

.update-info-success {
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.update-info-fail {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.card-header {
    padding: 6px;
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px !important;
}

#search-live {
    display: flex;
    margin-top: 4px;
    margin-left: 16px;
}

.dropdown-search {
    display: block;
    position: relative;
    width: 96%;
    padding: 10px 20px;
    background: #f5f5f5;
    border: none;
}

.li_search_live {
    padding: 5px 0;
    cursor: pointer;
}

.li_search_live:hover {
    color: blueviolet;
    border-bottom: 0.6px solid #e3e8f0;
}

.zalo-chat-widget {
    bottom: 160px !important;
    left: 28px !important;
}

.pro-info a {
    color: #116ed1;
}

.pro-info span.price {
    color: #d2a828;
}

.border-custom {
    border-radius: 16px;
}
.box-coupon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

._94vh {
    margin-top: 50px !important;
    height: calc(100% - 20%) !important;
}

.product-image {
    width: 400px;
    object-fit: cover;
    border-radius: 4px;
}
